/.eggs/
/.pytest_cache/
/build/
/dist/
/panda_core_data.egg-info/
/panda_core_data_cerberus1746.egg-info/
/.settings/
/docs/build/

*.pyc
.coverage
.gitignore
.project
.pydevproject
/Pipfile
/Pipfile.lock
/htmlcov/
